<!Doctype html>

<html lang="PT-BR">
	<head>
		<meta charset="UTF-8" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
		<title>Atualizar Produtos</title>
		
		<style>
    body {
      background-image: url("https://cdn.awsli.com.br/2500x2500/77/77632/produto/195685644/t109-tecido-tricoline-xita-camuflado-fundo-verde-t109---viivatex-4ff352c11a.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #ADD8E6;
      color: white;
    }
  </style>
		
	</head>
	
	<body>
	<h1 style="margin: 15px 0px 15px 10px;">Atualizar Produto</h1>
	<style>
  body{text-align: center;}
  </style>
		
<div style="background-color: black; padding: 20px;">
  <div class="container">
    <form action="#" th:action="@{/atualizar/{id}(id=${produto.id})}" th:object="${produto}" method="POST" style="margin: 30px auto; width: 300px; padding: 10px 20px;">
      <div class="mb-3">
        <label for="nomeProduto" class="form-label"><strong>Produto</strong></label>
        <input type="text" class="form-control" id="nomeProduto" th:field="*{nomeProduto}" placeholder="EX: caneta bic azul">
        <span th:if="${#fields.hasErrors('nomeProduto')}" th:errors="*{nomeProduto}"></span>
      </div>

      <div class="mb-3">
        <label for="preco" class="form-label"><strong>Preco</strong></label>
        <input type="number" step="0.01" class="form-control" id="preco" th:field="*{preco}" placeholder="EX: 1,99">
        <span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></span>
      </div>

      <div class="mb-3">
        <label for="quantidade" class="form-label"><strong>Quantidade</strong></label>
        <input type="number" class="form-control" id="quantidade" th:field="*{quantidade}" placeholder="EX: 10">
        <span th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"></span>
      </div>

      <div class="mb-3">
        <label for="descricao" class="form-label"><strong>Descricao</strong></label>
        <input type="text" class="form-control" id="descricao" th:field="*{descricao}" placeholder="EX: caneta bic azul, classica">
        <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
      </div>

      <div class="mb-3">
        <label for="urlImagem" class="form-label"><strong>Url da imagem do produto</strong></label>
        <input type="text" class="form-control" id="urlImagem" th:field="*{urlImagem}" placeholder="EX: https://google.com/images...">
        <span th:if="${#fields.hasErrors('urlImagem')}" th:errors="*{urlImagem}"></span>
      </div>

      <a href="/" class="btn btn-primary">Voltar</a>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
```

	</body>

</html>
